body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    background-color: #f0f0f0;
}

.caja {
    display: flex;
    flex-direction: row; /* Cambia a 'column' para vertical */
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 500px;
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }
